body {

    .whole {
        width: 100vw;
        .display {
            width: 100%;
            height: 100%;
            display: inline-block;
            justify-content: space-around;

            .red {
                color: red;
            }
            .blue {
                color: blue;
            }

            > div {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                box-shadow: -2px 4px 24px 2px rgba(0, 0, 0, 0.5);
                padding: 0 8px;
                margin: 7%;
                width: 170px;
                height: 125px;
                span {
                    align-self: flex-start;
                    font-size: 48px;
                    margin-right: 8px;
                }
                div {

                    img {
                        width: 120px;
                    }
                }

            }

        }
    }
}